.lead {
    margin: 57px auto 0;
    max-width: 1184px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 688px) {
    .lead {
        margin: 48px auto 0;
    }
}
