.lead__image {
  max-width: 984px;
  max-height: 615px;
  align-self: stretch;
  object-fit: contain;
  margin-top: 47px;
  }
  
  @media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 931px) {
    .lead__image {
        margin-top: 40px;
    }
}
