.lead__image {
  max-width: 984px;
  max-height: 615px;
  align-self: stretch;
  object-fit: contain;
  margin-top: 47px;
  }
  
  @media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width: 931px) {
    .lead__image {
        max-width: 768px;
        max-height: 480px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: 320px;
        max-height: 200px;
        margin-top: 10px;
    }
}