.cover {
    margin: 92px auto 0;
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #ffffff;
    max-width: calc(1280px - 48px*2);
  }
  
  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      margin: 60px auto 0;
    }
  }
  
  @media screen and (max-width: 688px) {
    .cover {
      margin: 66px auto 0;
    }
  }