.place__url-heading {
    color: #aaaaaa;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto 12px;
  }
  